<!-- this is base template with navbar and footer -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hoos4Sustainability</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'hello/main.css' %}"/>

</head>
<body>

<style>
  #td-navbar {
    background-color: #E44B8D !important;
  }

  .box-blue {
    margin:25px;
    overflow:hidden;
    padding:275px;
    background-color:#e3f2fd;
    border:1px solid #afcde3;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 10px;
border-radius: 10px;
}
</style>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/public/css/bootstrap.css">
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Bootstrap JS bundle(popper included in the bundle) -->
  <script src="/public/js/jquery-3.5.1.min.js"></script>
  <script src="/public/js/bootstrap.bundle.js"></script>
<body>
<!-- navbar -->
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'hoos' %}">Hoos4Sustainability</a>
        </div>
        
                <ul class="nav navbar-nav ">
                    <li class="active"><a href="{% url 'points' %}">Record Journey!</a></li>
                </ul>
   
                <ul class="nav navbar-nav ">
                    <li class="active"><a href="{% url 'ship' %}">Ship Tracker</a></li>
                </ul>
       
        <div id="navbar" class="collapse navbar-collapse navbar-right">
            <!-- show registration only if user is not yet authenticated -->
            {% if not user.is_authenticated %}
                <ul class="nav navbar-nav ">
                    <li class="active"><a href="{% url 'register' %}">Registration</a></li>
                </ul>
     {% endif %}
            <!-- show login only if user is not yet authenticated  -->
            {% if not user.is_authenticated %} 
                <ul class="nav navbar-nav ">
                    <li class="active"><a href="{% url 'login' %}">Login</a></li>
                </ul>
            {% endif %}
            

        </div>
    </div>
</nav>
</body>
<div id="content">
    {% block content %}{% endblock %}
</div>

<hr>

<!-- footer -->


<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <!-- Logged user info -->
            {% if user.is_authenticated %}
                <p class="text-center">
                    | Logged user: {{ user.username }}
                    | Email: {{ user.email }}
                    | Admin:{{ user.is_superuser }}
                    | <a href="{% url 'logout' %}">Sign Out</a>
                </p>
            {% endif %}

            <div>
                <p class="text-center">&copy; 2023 Hoohacks Team: Tiffany Bui, Kevin Ma, Brandon Tran</p>
            </div>

        </div>
    </div>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</div>


</body>
</html>