<!-- home.html -->
<!DOCTYPE html>
<html>
<head>
	<title>Transportation Points Calculator</title>
</head>
<body>
	<h1>Transportation Points Calculator</h1>
	<form action="/result" method="post">
		<label for="transportation">Form of Transportation:</label>
		<select name="transportation" id="transportation">
			<option value="active">Active Transportation</option>
			<option value="public">Public Transportation</option>
			<option value="shared">Shared Transportation</option>
		</select><br><br>
		<label for="point_a">Origin:</label>
		<input type="text" name="point_a" id="point_a"><br><br>
		<label for="point_b">Destination:</label>
		<input type="text" name="point_b" id="point_b"><br><br>
		<input type="submit" value="Calculate Points">
	</form>
</body>
</html>
