{% extends "hello/base.html" %}

{% block content %}
{%load static%}

<style>
  #td-navbar {
    background-color: #E44B8D !important;
  }

  .box-blue {
    margin:25px;
    overflow:hidden;
    padding:20px;
    background-color:#e3f2fd;
    border:1px solid #afcde3;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 10px;
border-radius: 10px;
}
</style>


<div class="box-blue"> <center><img src="{% static 'hello/home.png' %}"alt="home" border="0" width="796"height="556" /></center></div>


{% endblock content %}